<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:width="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <title>Item info page</title>
</head>
<body>
<div th:replace="templates/header"></div>
<a th:href="@{|/home|}">Go to Items List</a>
<div class="col-md-offset-2 col-sm-8">
    <h2>Info about Item</h2>
    <table class="table" padding="0 16px !important">
        <tr>
            <td class="col-md-2">Name:</td>
            <td class="col-md-2" th:text="${fullItem.name}"></td>
        </tr>
        <tr>
            <td>Description:</td>
            <td th:text="${fullItem.description}"></td>
        </tr>
        <tr>
            <td>Type</td>
            <td th:text="${fullItem.type}"></td>
        </tr>
        <tr>
            <td>Status:</td>
            <td th:text="${fullItem.status}"></td>
        </tr>
        <tr th:if="${fullItem.comment != null}">
            <td>Report comment:</td>
            <td th:text="${fullItem.comment}"></td>
        </tr>
    </table>
    <div class="card-body" th:if="${file != null}">
            <img class="rounded mx-auto d-block" padding="0 16px !important"
                 th:src="@{'data:image/png;base64,' + ${file} }"/>
    </div>
</div>
</body>
</html>