<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <title>Manage existing Item</title>
</head>
<body>
<div th:replace="templates/header"></div>
<div class="col-md-offset-2 col-sm-6">
    <h2>Update existing Item</h2>
    <form class="form-horizontal" th:object="${item}">
        <div class="form-group">
            <label class="control-label" for="name">Name:</label>
            <input class="form-control" type="text" th:field="*{name}" id="name" th:value="*{name}" disabled/>
        </div>
        <div class="form-group">
            <label class="control-label" for="name">Description:</label>
            <input class="form-control" type="text" th:field="*{description}"
                   id="description" th:value="*{description}" disabled/>
        </div>
        <div class="form-group">
            <label class="control-label" for="type">Item Type:</label>
            <input class="form-control" type="text" th:field="*{type}"
                   id="type" th:value="*{type}" disabled/>
        </div>
        <div class="form-group">
            <form>
                <input type="hidden" name="_method"/>
                <button class="btn-info btn-lg btn-sm" type="submit">Send to receiver</button>
            </form>
            <form>
                <input type="hidden" name="_method"/>
                <button class="btn-info btn-lg btn-sm" type="submit">Receive</button>
            </form>
            <form th:if="${'DELIVERED' == item.status.name()}" th:action="@{|/reports/${item.itemId}|}" th:method="get">
                <button class="btn-info btn-lg btn-sm">Add report</button>
            </form>
        </div>
        <input type="hidden" name="id" th:value="*{itemId}">
        <input type="hidden" name="ownerId" th:value="*{ownerId}">
    </form>
</div>
<a th:href="@{|/home|}">Go to Items List</a>
</body>
</html>
